In [18]:
import pandas as pd

#data=pd.read_csv("airflow/dags/DS.csv")
data=pd.read_csv("DS.csv")
NP=[]
Email=[]
for i in range(len(data)):
    np=data.NOM[i]+' '+data.PRENOM[i].lower()
    n,p="",""
    for el in data.PRENOM[i].split():
        n+=el.lower()[0]
    for el in data.NOM[i].split():
        p+=el.lower()
    email=n+'.'+p+'@insea.ac.ma'
    NP.append(np)
    Email.append(email)

DS_complet=pd.DataFrame({"Matricule":data['Matricule'],
                         "Nom":data['NOM'],
                         "Prenom":data['PRENOM'],
                         "Nom&Prenom":NP,"Email":Email})
DS_complet.to_csv('DS_complet.csv', index = False)
DS_complet.head()

   Matricule        Nom   Prenom         Nom&Prenom                    Email
0     291117    AGOURAM  MOHAMED    AGOURAM mohamed    m.agouram@insea.ac.ma
1     290943    AJARRAY    AMINE      AJARRAY amine    a.ajarray@insea.ac.ma
2     291301   AMAGHOSS  YASSINE   AMAGHOSS yassine   y.amaghoss@insea.ac.ma
3     591965    AMALLAH  MOHAMED    AMALLAH mohamed    m.amallah@insea.ac.ma
4     295201  BELKARKOR  CHAIMAA  BELKARKOR chaimaa  c.belkarkor@insea.ac.ma